* {
    padding: 0;
    margin: 0;
    color: inherit;
    text-decoration: none;
    outline: none;
    border: none;
    background: none;
}
.timepass-container {
    position: relative;
    display: flex;
    height: 100vh;
}
.image-box {
    position: relative;
    flex: 3;
}
.form-container {
    flex: 1;
    background-color: #e0e0e0;
}
.controls {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.controls div {
    width: 40px;
    height: 40px;
    background: #454545;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}
.controls div svg {
    fill: #f0f0f0;
}
.controls div.prev svg {
    transform: rotate(180deg);
}
.image-self {
    background-position: 50% 50%;
    position: relative;
    width: 500px;
    overflow: hidden;
    cursor: zoom-in;
}